<!DOCTYPE html>
<html lang="en" ng-app="ColtonApp">
<head>
	<meta charset="UTF-8">
	<title>Colton App</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.min.js"></script>
	<script type="text/javascript" src="/static/script.js"></script>
</head>
<body>
	<h1>The Title{{title}}</h1>
   <nav>
    <ul>
      <li>
        <a href="/home">Home</a>
      </li>
      <li>
        <a href="/page1">Page 1</a>
      </li>
      <li>
        <a href="/page2">Page 2</a>
      </li>
    </ul>
  </nav>
</body>
</html>